body{
  background-color: #B94852;
}
#all-content{
  display: flex;
}
#sec1, #sec2{
    display: flex;
    width: 80%;
    align-items: center;
    flex-flow: column wrap;
    background-color: white;
}
#header{
    display: flex;
    background-color: #4C4342;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
#logo{
  /* margin: 1em; */
  padding: 3%;
}
#search{
  /* margin: 1em; */
  padding: 3%;
}
.main-content{
  flex: 200px;
  padding: 10px;
  margin: auto;
}
.post{
  height: inherit;
  border: 1px solid darkgrey;
  background-color: #9999B5;
  border-radius: 2%;
  margin: 2%;
}
.post:hover{
   background-color: #EC824B;
   border: 1px solid #EC824B;
}

.post-header{
  display: flex;
  flex-flow: row wrap;
}
.title {
  font-weight: bold;
}
.trend {
  font-style: italic;
}
form{
  /* flex: 50px; */
  padding: 1em;

}
#sidebar{
  background-color: #9999B5;
}
  #create{
    width: 50%;
  }
p {
  padding: 1em;
}
ul{
  list-style-type: none;
  margin:  0;
  padding: 0;
}
h1 {
  font-size: 35px;
}
h2{
  font-size: 25px;
  text-align: center;
  margin: 2%;
}
h3{
  font-size: 20px;
  margin: 2%;
}

nav{
  padding: 3%;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
}
a:hover{
  background-color: #EC824B;

}
#footer{
  background-color: #4C4342;
  width: 100%;
  height: inherit;
  position:sticky;
}